#formWrapper {
    width: 50vw;
}

.fieldWrapper {
    display: flex;
    margin: 10px;
    gap: 10px;
    height: 27px;
    align-items: center;
    /* justify-content: stretch; */
}

#formSubmit {
    padding: 10px;
    margin-top: 10px;

}


#formWrapper {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.input {
    flex: 2
}

.labelField {
    flex: 1
}

.input:hover+.tooltiptext {
    visibility: visible;
    opacity: 1;
}